h1 {
    background-color: seagreen;
    color: white;
    padding-left: 12px;
}

body {
    background-color: darkgreen;
}

p {
    color: white;
}

img {
    float: left;
    padding-right: 12px;
}

.description {
    background-color: seagreen;
    color: white;
}